body{ 
    background-image: url("IMG_20200115_163321-01.jpeg");
    background-size: cover;
    /* background-color: black; */
}

.name{
    color: aliceblue;
    font-size: 100px;
    padding: 50px 0 0 100px;
    /* transition: 1.5s; */

}

p{ 
    font-size: 60px;
    color:aliceblue;
    transition: 0.5s;
    padding: 10px;
    margin: 0;
}


p:hover{
    
    color: black;
    transform: translate(10px);
}

